<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="parcelado_payment" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>ParceladoPay</label>
                <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ativo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="environment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="select">
                    <label>Environment</label>
                    <source_model>Parceladousa\Payment\Model\Adminhtml\Source\Environment</source_model>
                </field>
                <field id="merchant_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="text">
                    <label>Merchant ID</label>
                </field>
                <field id="merchant_key" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="60" translate="label" type="text">
                    <label>Merchant Key</label>
                </field>
            </group>
        </section>
    </system>
</config>
